.main {
    position: relative;
    width: 100%;
    height: 100%;
    
    background-color: var(--very-light-grayish-blue);

    .bg-top {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background-image: url('../assets/images/bg-top.svg');
        background-position: 100% 0;
        background-repeat: no-repeat;
        background-size: 25%;
    }
    
    .bg-bottom{
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: url('../assets/images/bg-bottom.svg');
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: 25%;
    }
}

.main__content{
    position: relative;
    padding: 4rem 1.65rem;
    
    @include table {
        --padding: calc( 1.65rem + 12vw);
        padding: 4rem var(--padding);
    }
}

.main__title {
    text-align: center;
}

.price-cards {
    width: 100%;
    height: 100%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    @include table {
        margin-top: 6rem;
        flex-direction: row;
    }
}

.price-card {
    width: 100%;
    height: 100%;
    padding: 1.3rem;
    margin-bottom: 2rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: white;
    border-radius: 15px;
    

    &__title {
        font-size: 1.2rem;
        padding: 1rem;
    }
    
    &__price {
        display: flex;
        align-items: center;
        color: var(--dark-grayish-blue);
        font-size: 4.5rem;
        padding: 1rem;
        span {
            font-size: 2.5rem;
        }
    }
    
    &__txt {
        width: 100%;
        padding: 1.1rem;
        text-align: center;
        color: inherit;
        border-top: 1px solid;
        
        &:last-of-type {
            border-bottom: 1px solid;
        }
    }

    &__btn{
        width: 100%;
        padding: 1rem;
        margin-top: 2.4rem;
        margin-bottom: 1rem;

        font-size: .9rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
        border-radius: 5px;
        border: 1px solid hsl(236, 72%, 79%);
        color: white;
        background-color: hsl(236, 72%, 79%);

        &:hover{
            border: 1px solid var(--dark-grayish-blue);
            color: hsl(236, 72%, 79%);
            background-color: white;
        }
    }
}

.price-card--card2{

    background: hsl(236, 72%, 79%);

    .price-card__title,
    .price-card__price, 
    .price-card__txt, 
    .price-card__btn {
        color: white;
    }
    
    .price-card__btn {
        border: 1px solid white;
        color: hsl(236, 72%, 79%);
        background-color: white;

        &:hover{
            border: 1px solid white;
            color: white;
            background-color: hsl(236, 72%, 79%);
        }

    }

    @include table {
        padding-top: 2.6em;
        padding-bottom: 2.6rem;
    }


}

.hidden {
    display: none;
}

.header-monthly{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    z-index: 100;
 }

 .switch{
    position: relative;
    width: 3.2rem;
    height: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    appearance: none;
    background: hsl(236, 72%, 79%);
    outline: none;
    border-radius: 1rem;
    transition: all .5s;
 
    &::before{
       content: "";
       position: absolute;
       width: 1.6rem;
       height: 1.6rem;
       top: .15rem;
       left: .25rem;
       background: white;
       border-radius: 50%;
       transform: translateX(0);
       transition: all .5s;
    }
 
    &:checked {
       &::before {
          transform: translateX(80%);
          transition: all .5s;
       }
    }
 } 