:root {
/* ===============  Colors  =============
### Primary

- Linear Gradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%)

### Neutral

- Very Light Grayish Blue: hsl(240, 78%, 98%)
- Light Grayish Blue: hsl(234, 14%, 74%)
- Grayish Blue: hsl(233, 13%, 49%)
- Dark Grayish Blue: hsl(232, 13%, 33%)

*/

--very-light-grayish-blue: hsl(240, 78%, 98%);
--light-grayish-blue: hsl(234, 14%, 74%);
--grayish-blue: hsl(233, 13%, 49%);
--dark-grayish-blue: hsl(232, 13%, 33%);


/* ===============  Fonts  =============
### Body Copy

- Font size: 15px

### Font

- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weight: 700

*/

--ff-title: 'Montserrat', sans-serif;
--ff-body: 'Montserrat', sans-serif;

/* ===============  Others  =============*/
--header-height: 5em;

}